<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref = "/"
      text= "Atras"
      color= "Primary"
      mode= "ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Tecnologia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> 
      <ion-card-title class = "titulo">¿Sabías que...?</ion-card-title> 
    </ion-card-header>
  
    <ion-card-content class = "ion-padding contenido">
      Pronto existiran protesis controladas por el cerebro.

      <ion-card-subtitle  class = "pulsaaqui">Pulsa la foto para mayor informacion</ion-card-subtitle>
        <a href = "https://computerhoy.com/listas/tecnologia/5-tecnologias-2030-ya-seran-realidad-702823#protesis" target= "_blank"><ion-img src = "assets/icon/biobrazo.jpg"></ion-img></a>
    </ion-card-content>
    
  </ion-card>
  
  <ion-card>
    <ion-card-header> 
      <ion-card-title class = "titulo">¿Sabías que...?</ion-card-title> 
    </ion-card-header>
  
    <ion-card-content class = "ion-padding contenido">
      Un estudio reciente determinó que la creacion de turbinas eolicas voladoras son un hecho para los proximos años.

      <ion-card-subtitle  class = "pulsaaqui">Pulsa la foto para mayor informacion</ion-card-subtitle>
        <a href = "https://computerhoy.com/listas/tecnologia/5-tecnologias-2030-ya-seran-realidad-702823#turbina" target= "_blank"><ion-img src = "assets/icon/turbinaeolica.jpg"></ion-img></a>
    </ion-card-content>
    
  </ion-card>
  

 



  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button routerLink = "/formulario">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>  



